* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

body {
  background-color: #161717;
}

.left-menu {
  display: flex;
  background-color: #1D1F1F;
  list-style: none;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.left-menu li {
  font-size: 22px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.topbar-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
  padding: 13px;
}

.topbar-menu i {
  font-size: 22px;
}

.topbar-menu li:first-child {
  flex-grow: 1;
}

.topbar-menu h2 {
  font-size: 22px;
  font-weight: 100;
}

.chat-menu {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  max-width: 40%;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-bar i {
  flex-grow: 1;
}

.search-bar input {
  width: 95%;
  height: 35px;
  background-color: #2E2F2F;
  border-radius: 17px;
  border-style: none;
}

.search-bar button {
  background-color: #161717;
  border: 1px solid #04AA6D;
  color: white;
  padding: 9px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 3px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 26px;
}

.search-bar button:hover {
  background-color: #103529;
  color: #9FF0D3;
}

.chat-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  color: white;
  font-size: small;
  padding: 10px;
  row-gap: 5px;
}

#chat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

img {
  max-width: 10%;
  border-radius: 50%;
}

#last-mex {
  flex-grow: 1;
}

#last-mex span {
  color: #A7A8A8;
}

#hour {
  color: #A7A8A8;
}

.active-chat {
  display: flex;
  padding: 10px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}

.active-chat h2 {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.active-contacts {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.active-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-icons {
  padding-right: 10px;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.current-chat {
  background-image: url(../img/m5BEg2K4OR4.png);
  background-color: #103529;
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.main-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: rgb(226, 12, 12);
}