<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/cfb2eccc9a.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&family=Vidaloka&display=swap"
    rel="stylesheet" />
  <title>WhatsApp Web</title>
</head>

<body>
  <div id="app" class="container">
    <div class="left-menu">

      <div class="first icons">
        <li><i class="fa-solid fa-message" style="color: #c7c7c7;"></i></li>
        <li><i class="fa-solid fa-circle-notch" style="color: #c7c7c7;"></i></li>
        <li><i class="fa-regular fa-comment" style="color: #c7c7c7;"></i></li>
        <li><i class=" fa-solid fa-user-group" style="color: #c7c7c7;"></i></li>
      </div>

      <div class="second icons">
        <li><i class="fa-solid fa-gear" style="color: #c7c7c7;"></i></li>
        <li><i class="fa-solid fa-user" style="color: #c7c7c7;"></i></li>
      </div>

    </div>

    <div class="chat-menu">
      <div class="topbar-menu">
        <li style="color: #ffffff;">
          <h2>WhatsApp</h2>
        </li>
        <li><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></li>
        <li><i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i></li>
      </div>

      <div class="search-bar">
        <button><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        <input type="search" name="search" id="search" placeholder=" Cerca o avvia una nuova chat">
        <button>Tutte</button>
        <button>Da leggere</button>
        <button>Preferiti</button>
        <button>Gruppi</button>
      </div>

      <ul class="chat-list">
        <li id="chat" v-for="element in contacts" @click="selectContact(element)" class="contact"
          :class="activeContact === element ? 'active' : ''">
          <img id="image" :src="element.avatar" alt="element.name">
          <div id="last-mex">
            <h2>{{element.name}}</h2>
            <span>{{element.messages[2].text}}</span>
          </div>
          <div>
            <span id="hour">{{element.messages[2].date}}</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="welcome-page" v-if="activeContact === null">
      <h3>Benvenuto su WhatsApp!</h3>
      <p><i class="fa-solid fa-lock" style="padding-right: 20px;"></i>I tuoi messaggi personali sono protetti dalla
        crittografia end-to-end.</p>
    </div>
    <div class="main-page" v-for="(element, index) in contacts" v-if="activeContact === element">


      <div class="active-chat">
        <div class="active-contacts">
          <div class="active-profile">
            <img id="active-image" :src="element.avatar" alt="element.name">
            <h2>{{element.name}}</h2>
          </div>
          <div class="active-icons">
            <i class="fa-solid fa-video" style="color: #ffffff;"></i>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>
      <div class="current-chat">
        <div v-for="element in activeContact.messages" class="message" :class="element.status">
          {{element.text}}
          <span>{{element.date}}</span>
        </div>

        <div class="input-mex">
          <input type="text" id="writing" placeholder="Scrivi un messaggio" v-model="newMex" @keyup.enter="addMex"
            @keyup.enter="botResponse">
          <i class="fa-solid fa-arrow-turn-up" @click="addMex"></i>
        </div>
      </div>
    </div>
  </div>
  </div>





  <script src=" js/app.js"></script>
</body>

</html>